<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<script>
 window.fbAsyncInit = () => {
    FB.init({
      appId      : '1688579288120818',
      xfbml      : true,
      version    : 'v2.6'
    });

  };

  ((d, s, id) => {
    var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk')
  );

  function confirmOptIn() {
          FB.AppEvents.logEvent('MessengerCheckboxUserConfirmation', null, {
            'app_id':'1688579288120818',
            'page_id':'824843540990536',
            'ref': loggedUser,
            'user_ref':userRef
          });
      }

  function getRandomValue() {
    var min = 1;
    var max = Number.MAX_SAFE_INTEGER;
    return (Math.floor(Math.random() * (max - min + 1)) + min).toString();
  }


  var loggedUser;

  $(document).ready(() => {
    userRef = getRandomValue();
    loggedUser  = "angarita.rafael@gmail.com";
    //var checkbox = document.getElementById('messengerCheckbox');
    //checkbox.setAttribute("user_ref", userRef);
    var checkbox = $(document.createElement('div'));
    checkbox.attr("class", "fb-messenger-checkbox");

    checkbox.attr("origin", "https://4ace68ae.ngrok.io");
    checkbox.attr("page_id", "824843540990536");
    checkbox.attr("messenger_app_id", "1688579288120818");
    checkbox.attr("user_ref", userRef);

    checkbox.attr("prechecked", "true");
    checkbox.attr("allow_login", "true");
    checkbox.appendTo( "#fbcheckbox" );
    $("<p>" + userRef + "</p>").appendTo( "#fbcheckbox" );
  });
</script>
<html>

<body>
<!--<div class="fb-messenger-checkbox"
  id="messengerCheckbox"
  origin="https://4ace68ae.ngrok.io"
  page_id="824843540990536"
  messenger_app_id="1688579288120818"
  user_ref=156814
  prechecked="true"
  allow_login="true"
  size="large"></div>-->

  <div id="fbcheckbox">
  </div>
</body>
<input type="button" onclick="confirmOptIn()" value="Confirm Opt-in"/>
</html>
